ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2F4F4F;	
    left: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #008B8B;
}

img#code{
    position: absolute;
    float: right;
    top: 395px;
    right: 5px;
    height: 250px;
    width: 270px;
}

.left_column{
    float: left;
    position: absolute;
    top: 390px;
    left: 280px;
}

html, body {
 height: 100%;
}

ul#bar{
    position: fixed;
    z-index: 100; 
    bottom: 0; 
    left: 0;
    width: 100%;
    height: 30px;
}

ul#topbar{
    overflow: hidden;
    background-color: #2F4F4F;
    position: absolute; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    margin: 0;
    left: 0;
}

img#skyline{
    position: absolute;
    top: 50px;
    width: 100%;
    left: 0;
    right: 0;
}

ul#nav_container{
    position: absolute;
    overflow: hidden;
    background-color: #2F4F4F;
    top: 350px;
    height: 40px;
    width: 100%;
    left: 0;
}

img#logo{
    position: relative;
    top: 390px;
    left: 0;
    height: 260px;
    width: 250px;
}

p#contact{
    top: 400px;
}
