html, body {
    height: 100%;
    width: 100%;
    background-image: url("http://aaaea.org/il/files/2015/03/Chicago_Background.jpg");
    background-repeat: repeat-y;
    display: flex;
}

img#skyline{
    position: absolute;
    /*top: 50px;*/
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-repeat: repeat-y;
    /*opacity: 0.5;
    filter: alpha(opacity=70);*/
}

img#logo{
    position: relative;
    top: 30px;
    left: 20px;
    height: 265px;
    width: 255px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    border-radius: 5px;
}

p#contact {
    top: 400px;
}

i#mail:hover {
    color: #191970;
    box-shadow: 0 0 15px #191970;
    transition: all 0.5s ease;
}

i#resume:hover {
    color: #008080;
    box-shadow: 0 0 15px #008080;
    transition: all 0.5s ease;
}

div.transbox {
    position: absolute;
    height: 315px;
    width: 850px;
    top: 10px;
    left: 290px;
    margin: 20px;
    background-color: #FFFFFF;
    border: 1px solid black;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
    border-radius: 5px;
}

div.transbox p {
    margin: 2%;
    color: #000000;
    font-size: 105%;
}

#twitter-widget-holder, .twitter-timeline {
    position: absolute;
    top: 30px;
    left: 1200px;
    height:800px;
    padding:20px;
    background:#fff;
    border-radius:3px;
    box-shadow:2px 2px 3px rgba(0,0,0,.1);
    }

#twitter-widget-holder { 
  position: absolute;
  top: 30px;
  left: 1200px;
  max-height:400px; 
  max-width:320px; 
  padding:20px; 
  background:#fff; 
  border-radius:3px; 
  box-shadow:2px 2px 3px rgba(0,0,0,.1); 
}

.wrapper {
  position: relative;
  /*top: 50%;*/
  left: 28%;
  transform: translate(-50%, -50%);
  width: 550px;
}

/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height 
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid #000000;
  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.wrapper ul li .fa {
  color: #000000;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.linkedin {
  border: 5px solid #4682B4;
  box-shadow: 0 0 15px #4682B4;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-linkedin {
  color: #4682B4;
  text-shadow: 0 0 15px #4682B4;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.youtube {
  border: 5px solid #FF0000;
  box-shadow: 0 0 15px #FF0000;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-youtube {
  color: #FF0000;
  text-shadow: 0 0 15px #FF0000;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}
